
<html>
    <head>
        <title>
            {% block title %} {% endblock %}
        </title>
    </head>
    <body>
        <h2>hello</h2>
        

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
              
              
                        <div class="collapse navbar-collapse" id="fancyNav">
                          <ul class="navbar-nav ml-auto">
                              <li class="nav-item active">
                                  <a class="nav-link" href="{% url 'users:index' %}">Home <span class="sr-only"></span></a>
                              </li>
                              {% if not user.is_authenticated %}
                              <li class="nav-item">
                                  
                                <a class="nav-link" href="{% url 'users:panchayath_registration' %}">Panchayath signup</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="{% url 'users:enduser_registration' %}">User signup</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="{% url 'users:login' %}">Login</a>
                                </li>
                                {% endif %}
                                {% if user.is_authenticated %}
                                    {% if user.is_panchayath == 'True' %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'users:employee_registration' %}">Register Employee</a>
                                    </li>
                                    {% endif %}
                                   
                                  </ul>
                                {% endif %}
                                </div>




                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#">Disabled</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </nav>
        {% block content %} 
        
        {% endblock %}
    </body>
</html>
